<template>
  <div id="app">
    <div>
      <input checked id="one-way" type="radio" value="0" v-model="returnTrip" name="direction"/>
      <label for="one-way">One-way</label>
      <input style="margin-left: 15px" id="return" type="radio" value="1" v-model="returnTrip" name="direction"/>
      <label for="return">Return</label>
    </div>
    <div class="transfer-form">
      <div class="col-md-6 col-12">
        <div class="row locations">
          <div class="col-md-6 col-12 pr-0 location">
            <div class="location__inner">
              <label>From</label>
              <el-autocomplete
              :trigger-on-focus="false"
              class="inline-input w-100"
              :class="{ 'select--error': showError && selectedPoint.from === '' }"
              v-model="fromAddress"
              :fetch-suggestions="querySearch"
              placeholder="Podgorica Airport"
              v-on:select="onFromAddressSelect"
              ></el-autocomplete>
            </div>
          </div>
          <div class="col-md-6 col-12 location">
            <div class="location__inner">
              <label>To</label>
              <el-autocomplete
              :trigger-on-focus="false"
              class="inline-input w-100"
              :class="{ 'select--error': showError && selectedPoint.to === '' }"
              v-model="toAddress"
              :fetch-suggestions="querySearch"
              placeholder="Podgorica"
              v-on:select="onToAddressSelect"
              ></el-autocomplete>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12 clients">
        <div class="row passengers">
          <img src="@/assets/icons/users.svg" class="passengers-icon" alt=""/>
          <el-select v-model="passengers" placeholder="Select" class="mt-1 passengers-select">
            <el-option v-for="item in passengersOptions" :key="item.value" :label="item.label"
                       :value="item.value"></el-option>
          </el-select>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <button id="search-button" class="search-button" v-on:click="showPrices">
          <img src="@/assets/icons/search.svg" alt=""/>
          Show prices
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: "App",
  components: {},
  data() {
    return {
      returnTrip: 0,
      fromAddress: "",
      toAddress: "",
      passengersOptions: [],
      locations: [],
      passengers: "2",
      showError: false,
      selectedValues: {
        from: "",
        to: "",
      },
      selectedPoint: {
        from: "",
        to: "",
      },
    };
  },
  watch: {
    fromAddress(value) {
      if (value !== this.selectedValues.from) {
        this.selectedPoint.from = "";
      }
    },
    toAddress(value) {
      if (value !== this.selectedValues.to) {
        this.selectedPoint.to = "";
      }
    },
  },
  methods: {
    async querySearch(queryString, cb) {
      var results = await this.loadLocations(queryString);
      cb(results);
    },
    loadLocations(query) {
      return axios.get("https://booking.gomontenegro.me/api/points/" + query).then((response) => {
        return response.data.data.map((item) => ({value: item.name, slug: item.slug}));
      });
    },
    onFromAddressSelect(item) {
      this.selectedPoint.from = item.slug;
      this.selectedValues.from = item.value;
    },
    onToAddressSelect(item) {
      this.selectedPoint.to = item.slug;
      this.selectedValues.to = item.value;
    },
    hideErrorAfter(milliseconds) {
      setTimeout(() => {
        this.showError = false;
      }, milliseconds);
    },
    showPrices() {
      if (this.selectedPoint.from === "" || this.selectedPoint.to === "") {
        this.showError = true;
        this.hideErrorAfter(1000);
        return;
      }
      let link = `https://booking.gomontenegro.me/from-${this.selectedPoint.from}/to-${this.selectedPoint.to}/vehicle-class?passengers=${this.passengers}&return=${this.returnTrip}`;
      window.location.href = link;
    },
  },
  mounted() {
    for (let i = 1; i <= 15; i++) {
      this.passengersOptions.push({
        label: i + " passengers",
        value: i.toString(),
      });
    }
    this.passengersOptions.push({
      label: "16+ passengers",
      value: "16+",
    });
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

#app {
  font-family: "Roboto", sans-serif;
}

:root {
  --color-purple: #662382;
  --color-green-dark: #678716;
  --color-green-light: #76b72a;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-md-6 {
  flex: 0 0 50%;
}
.col-md-3 {
  flex: 0 0 25%;
}

.w-100 {
  width: 100% !important;
}
.locations {
  /*height: 100%;*/
  align-items: center;
}
.location {
  background: white;
  color: gray;
  font-size: 13px;
  padding: 0;
}

.location__inner {
  padding-top: 8px;
  border-right: 1px solid #e2e2e2;
}

.location label {
  margin-bottom: 0;
  padding-left: 15px;
  margin-top: 5px;
}

.el-input input {
  border: none;
}

.transfer-form {
  background: #fff;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  border: 8px solid #eaeaea;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.passengers {
  height: 100%;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 15px;
}
.passengers-icon {
  width: 25px;
  height: 25px;
}
.passengers-select {
  flex: 1;
}
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-purple);
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 19px;
  border: none;
  padding: 12px;
}

.search-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.select--error {
  border-bottom: 2px solid #ff5959;
  border-radius: 0;
}
.el-select-dropdown__item.selected {
  color: var(--color-purple);
}
.el-autocomplete-suggestion li {
  font-family: "Roboto", sans-serif;
}
.el-select-dropdown__item span {
  font-family: "Roboto", sans-serif !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                   supported by Chrome, Edge, Opera and Firefox */
}
@media (max-width: 500px) {
  .col-12 {
    max-width: 100% !important;
    flex: 0 0 100%;
  }
  .location__inner {
    border-right: none;
  }
}
</style>
